numpy==1.24.4
openrouteservice==2.3.3
prefect==3.1.13
scikit-learn==1.6.1
scipy==1.13.1
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
word2number
requests
psycopg2-binary
openrouteservice
perfect
flask
